<mat-card appearance="outlined">
  <mat-card-content>
    <table class="full-width user-table">
     <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>city</th>
     </tr>
     @for (user of allUsers; track $index) {
      <tr>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.city }}</td>
       </tr>
     }

     <!-- <tr>
      <td>asdasd</td>
      <td>asdasd</td>
      <td>asdasd</td>
     </tr> -->
    </table>
  </mat-card-content>
</mat-card>



<button (click)="openDialog()" class="add-user-button" matTooltip="Add user" [matTooltipPosition]="position.value!"
  mat-fab>
  <mat-icon>add</mat-icon>
</button>
